#addExpense{
    display:flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: Monaco;
    font-weight: bold;
}

.title{
    margin-right:10px;
    display:flex;
    align-self:center;
    font-family: Monaco;
}

.expense-name{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.expense-amount{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.categoryField{
    display: inline-block;
    justify-content: center;
}


.field{
    margin-top: 20px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#comment{
    font-family: Monaco;
    font-size: 1em;
    border: solid 3px #2F3542;
    border-radius: 1.5em;
    width: 500px;
    height: 300px;
    resize: none;
}

#form{
    display: flex;
    justify-content: center;
}

.validate{
    display: flex;
    justify-content: center;
    margin: 20px;
}

#validate-btn{
    margin-top: 40px;
    width: 100px;
    font-family: Monaco;
    font-size: 2em;
    border-radius: 2em;
    color: #FFFFFF;
}
.default {
    border-color: #DFE4EA;
    background: #A4B0BE;
}

.default:hover {
    background: #2F3542;
}

.expense-date{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.categorytitle{
    font-family: Monaco;
    font-size: 1.25em;
    font-weight: bold;
}

.cat-lab{
    font-family: Monaco;
    font-size: 1em;
}