#Debt{
    display:flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;;
}

.get-back{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pay{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#get-back{
    margin-left: -260px;
    margin-bottom: -5px;
}

#pay{
    margin-left: -320px;
    margin-bottom: -5px;
}

.debtBox{
    display: flex;
    flex-grow: 0; 
    position: relative;
    background-color: #dcdcdc;
    width: 400px;
    padding: 15px 20px;
    border-radius: 15px;
    margin: 15px;
}

.category{
    border-radius: 25%;
    width: 30px;
    height: 30px;
    background-color: #70A1FF;
}

.img{
    width: 40px;
    height: 40px;
}

.img_cat{
    width: 30px;
    height: 30px;
}

.amount-neg{
    color: green;
    position: absolute;
    left: 70px;
}

.amount-pos{
    color:red;
    position: absolute;
    left: 70px;
}

.exp-name {
    position: absolute;
    left: 150px;
    top: 10px; /* Set top to 0 to place it at the top inside .debtBox */
}

.date {
    position: absolute;
    left: 150px;
    top: 30px; /* Set top to create space between exp-name and date */
    font-size: x-small;
    align-self: center;
}

.person{
    position: absolute;
    left: 340px;
}

.btn{
    position: absolute;
    left: 410px;
}