#header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
#title{
    font-family: Monaco;
    margin-right: 50px;
}
#usrprofile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}
#usricon{
    margin-left: 15px;
    background-color: #70A1FF;
    border-radius: 50%;
    width: 75px;
    height: 75px;
}
#usrimg{
    width: 75px;
    height: 75px;
}
#body{
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.travel-btn{
    border-radius: 15px;
    width: 500px;
    background-color: #DFE4EA;
}
.trip{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #DFE4EA;
    width: 60px;
    height: 60px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
}

.travel{
    margin: 10px;
}

#name{
    position: absolute;
    margin-left: 100px;
    font-family: Monaco;
    font-size: 2em;
}
#group{
    position: absolute;
    margin-left: 600px;
    margin-right: 25px;
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-rows: repeat(2, 0.25fr);
    grid-template-columns: repeat(4,0.25fr);
}

.usr{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FF6B81;
}
.usrtinyicon{
    width: 30px;
    height: 30px;
}
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#form{
    margin-top: 100px;
    margin-bottom: 10px;
}
#new-trip-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 50px;
}

.plus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
