#header{
    font-size: large;
    margin-bottom: 30px;
    margin-top: 15px;
}
#txt{
    font-family: Monaco;
    font-weight: bold;
    font-size: 1em;
}
#err-msg{
    margin-top: 2%;
    margin-bottom: 2%;
    color: #FF6B81;
    font-weight: bold;
    font-family: Monaco;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    margin-left: 32.5%;
    background-color: #A4B0BE;
    border-radius: 15px;
}
#usr{
    margin-top: 15px;
    display: flex;
    width: fit-content;
}
#pwd{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    width: fit-content;
}
#show-hide{
    margin-left: 10px;
    margin-right: 10px;
}
#btn{
    margin-top: 15px;
    margin-bottom: 15px;
}


