#header{
    font-size: large;
    margin-bottom: 30px;
    margin-top: 15px;
}
#txt{
    font-family: Monaco;
    font-weight: bold;
    font-size: 1em;
}
#err-msg{
    margin-top: 2%;
    margin-bottom: 2%;
    color: #FF6B81;
    font-weight: bold;
    font-family: Monaco;
}
#login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);*/
    width: 35%;
    margin-left: 32.5%;
    background-color: #A4B0BE;
    border-radius: 15px;
}
/*#form-left{
    display: grid;
    row-gap: 5px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,1fr);
    align-self: center;
    justify-self: center;
}
#form-center{
    display: grid;
    row-gap: 5px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,1fr);
}
#form-right{

} */

#usr{
    margin-top: 15px;
    display: flex;
    width: fit-content;
}
#pwd{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    width: fit-content;
}
#show-hide{
    margin-left: 10px;
    margin-right: 10px;
}
#btn{
    margin-top: 15px;
    margin-bottom: 15px;
}

#signin-form{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    margin-left: 32.5%;
    background-color: #A4B0BE;
    border-radius: 15px;
    padding-bottom: 5px;
}
#signin-text{
    font-family: Monaco;
    font-size: 1em;
}

#popup {
    display: none;
    position: absolute;
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    color: red;
    /* Center the popup */
    left: 50%;
    transform: translate(-50%, -50%);
}
#txt:hover #popup {
    display: block;
}