.my-profile{
    background: #dcdfe3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back-btn{
    position: absolute;
    left: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

#title{
    font-size: 3em;
    font-weight: bold;
    font-family: Monaco;
    color: #090909;
}

#back-btn{
    font-size: 3em;
    background-color: transparent;
}

.trip-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destination{
    margin-right: 160px;

}

.expenseBox{
    display: flex;
    flex-grow: 0; 
    position: relative;
    background-color: #dcdcdc;
    width: 400px;
    padding: 15px 20px;
    border-radius: 15px;
    margin: 10px;
}

.category{
    border-radius: 25%;
    width: 30px;
    height: 30px;
    background-color:#70A1FF;
}

.amount{
    position: absolute;
    left: 70px;
}

.name{
    margin-right: 6px;
}

.img_icon{
    width: 40px;
    height: 40px;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 340px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.current-user{
    padding-left: 5px;
    padding-top: 2px;
    background-color: #70A1FF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.img{
    width: 30px;
    height: 30px;
}

.trip-header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.creator-txt{
    justify-self: center;
    align-self: center;
    font-family: Monaco;
    font-size: 1.75em;
    color: #FF6B81;
}

#empty{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 50px;
}

.img_no_debt{
    width: 100px;
    height: 100px;
}
