.my-profile{
    background: #dcdfe3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back-form{
    position: absolute;
    left: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

#title{
    font-size: 3em;
    font-weight: bold;
    font-family: Monaco;
    color: #090909;
}

#back-btn{
    font-size: 3em;
    background-color: transparent;
}

.trip-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#destination{
    margin-left: -320px;
}

.expenseBox{
    display: flex;
    flex-grow: 0; 
    position: relative;
    background-color: #dcdcdc;
    width: 400px;
    padding: 15px 20px;
    border-radius: 15px;
    margin: 10px;
}

.category{
    border-radius: 25%;
    width: 30px;
    height: 30px;
    background-color:#70A1FF;
}

.amount{
    position: absolute;
    left: 70px;
}

.name{
    margin-right: 6px;
}

.img_icon{
    width: 40px;
    height: 40px;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 340px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.current-user{
    padding-left: 5px;
    padding-top: 2px;
    background-color: #70A1FF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.img{
    width: 30px;
    height: 30px;
}

/*************************
 * Role Dropdown testing *
 *************************/
/* Style for the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style for the dropdown button */
.dropbtn {
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Style for the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style for the dropdown items */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

/* Change color on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown content when the dropdown button or container is hovered over */
.dropdown:hover .dropdown-content {
    display: block;
}