#form{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;
    background-color: #A4B0BE;
    border-radius: 15px;
}
#txt{
    margin-top: 3%;
    font-family: Monaco;
    font-weight: bold;
    font-size: 1em;
}
.txt{
    margin-top: 3%;
    margin-left: 5%;
}
.field{
    margin-left: 8%;
    width: 84%
}

#btn{
    margin-top: 4%;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 2%;
}
#icons{
    align-self: center;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 5px;
    column: 5px;
}
.usr-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
}
.usr-img{
    width: 50px;
    height: 50px;
}