#header{
    background: #2ED573;
    display: flex;
    align-items: center;
    gap: 35%;
}
#back-btn{
    font-size: 3em;
    background-color: transparent;
}
#title{
    font-size: 3em;
    font-weight: bold;
    font-family: Monaco;
    color: #FFFFFF;
}

.label{
    margin-top: 2.5%;
    margin-left: 12%;
    font-size: 1.5em;
    font-weight: bold;
    font-family: Monaco;
}