#chart-field{
    width: 50%;
    margin-left: 25%;
}
#new-expense-btn{
    margin-left: 37.5%;
    margin-top: 40px;
    width: 25%;
    font-family: Monaco;
    font-size: 2em;
    border-radius: 2em;
    color: #FFFFFF;
}
#latest-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 15%;
}

#expense{
    display: flex;
    flex-grow: 0; 
    position: relative;
    background-color: #dcdcdc;
    width: 400px;
    padding: 15px 20px;
    border-radius: 15px;
    margin: 15px;
}

.category_icon{
    width: 30px;
    height: 30px;
}

#amount{
    position: absolute;
    left: 70px;
}

#name {
    position: absolute;
    left: 150px;
}

#date {
    position: absolute;
    left: 300px;
    font-size: x-small;
    align-self: center;
} 

.default {
    border-color: #DFE4EA;
    background: #A4B0BE;
}

.default:hover {
    background: #2F3542;
}

.label{
    margin-top: 5%;
    margin-left: 12%;
    font-size: 1.5em;
    font-weight: bold;
    font-family: Monaco;
}