#body{
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#validate-icon{
    width: 20%;
    height: 20%;
}
#msg{
    margin-top: 3%;
    font-family: Monaco;
    font-size: 2em;
    font-weight: bold;
}

#home-page-btn{
    margin-top: 3%;
    width: 300px;
    font-family: Monaco;
    font-size: 2em;
    border-radius: 2em;
    color: #FFFFFF;
}
.default {
    border-color: #DFE4EA;
    background: #A4B0BE;
}

.default:hover {
    background: #2F3542;
}