<link rel="stylesheet" href="css/debt-everyone.css">
<link rel="stylesheet" href="css/debt-admin.css">
<link rel="stylesheet" href="css/trip-bar.css">

<div id="container">
    <div id="header">
        <%- include("navbar.ejs")%>
        <%- include("trip-bar.ejs")%>
    </div>

    <div id="body">
        <h1 id="Debt">Balance</h1>

        <div class="profile"> 
            <div class="current-user"> <img class="img" src="media/usr1.png"> </div>
        </div>       

        <div class="pay"> 
            <h2 id="pay">To pay -</h2>
            <div class="debtBox"> 
                <div class="category"></div>
                <div class="amount-pos">18.64$ </div> 
                <div class="date"> due since 24/03/23 </div>
                <div class="person"><img class="img" src="media/usr0.png"></div>
            </div>
        </div>
        <div class="get-back">
            <h2 id="get-back">To get back -</h2>
            <div class="debtBox"> 
                <div class="category"></div>
                <div class="amount-neg">25$ </div> 
                <div class="date"> due since 18/11/23 </div>
                <div class="person"><img class="img" src="media/usr0.png"></div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="users">
            <div class="other-user"><img class="img" src="media/usr0.png"> </div>
            <div class="other-user"><img class="img" src="media/usr1.png"> </div>
            <div class="other-user"><img class="img" src="media/usr2.png"> </div>
        </div>
    </div>
</div>
