<link rel="stylesheet" href="css/debt-everyone.css">

<div id="container">
    <div id="header">
        <!-- this shall contain the app name, and the user profile overview -->
        <%- include("navbar.ejs")%>
        <div class="trip-name">
            <form id="back-form" action="/login" method="post">
                <button id="back-btn" type="submit"><</button>
            </form>
            <div id="title">Tanzania</div>
        </div>
    </div>

    <div id="body">
        <h1 id="Debt">Debt</h1>

    </div>
</div>