<link rel="stylesheet" href="css/friends.css">

<div id="container">

    <div id="header">
        <!-- this shall contain the app name, and the user profile overview -->
        <%- include("navbar.ejs")%>
        <div class="trip-name">
            <form id="back-form" action="/login" method="post">
                <button id="back-btn" type="submit"><</button>
            </form>
            <div id="title">Tanzania</div>
        </div>
    </div>

    <div id="body">
        <h1 id="tripFriend">Trip Friends</h1>


        <!-- This will be changed to have the name dynamically-->
        <div class="friends">
            <div class="friendBox"> 
                <div class="picture"> <img class="img" src="media/usr0.png"> </div>
                <div class="name">Jason </div> 
                <div class="role">Creator/Manager</div>
            </div>
            <div class="friendBox"> 
                <div class="picture"> </div>
                <div class="name"> Hortense </div>
                <div class="role">Hotel Organiser</div>
            </div>
            <div class="friendBox">
                <div class="picture"> </div>
                <div class="name"> Steve </div>
                <div class="role">Transport Organiser</div>
            </div>
            <div class="friendBox"> 
                <div class="picture"> </div>
                <div class="name"> Anne </div>
                <div class="role">Food Shopper</div>
            </div>
        </div>
    </div>
</div>