This is the first view from HTML file
<div id="container">
    <!-- linking this view to it's css & script -->
    <link rel="stylesheet" href="css/fst-view.css">
    <script src="./js/fst-view.js"></script>

    <div id="header">
        <!-- this shall contain the app name, and the user profile overview -->
    </div>
    <div id="body">
        <!-- this shall contain the travel's list -->
        <!-- shall fetch for existing travel for our user
            and display as much travel as there is -->
    </div>
    <div id="footer">
        <!-- contains the 'add' button only -->
        <button id="add-btn" type="button" onclick="NewTrip()">+</button>
    </div>
</div>