<div id="container" align="center">
    <!-- linking this view to it's css & script -->
    <script src="./js/fst-view.js"></script>
    <link rel="stylesheet" href="css/fst-view.css">

    <div id="header">
        <!-- this shall contain the app name, and the user profile overview -->
        <h1 id="title">ExpenShare</h1>
    </div>

    <div id="body">
        <!-- this shall contain the user's travel list -->
        <!-- shall fetch for existing travel for our user
            and display as much travel as there is -->
    </div>

    <div id="footer">
        <!-- contains the 'add' button only -->
        <button id="add-btn" type="button" onclick="NewTrip()">+</button>
    </div>
</div>