<script src=".js/fst-view.js"></script>
<link rel="stylesheet" href="css/fst-style.css">

<div id="header">
    <h1 id="title">ExpenShare</h1>
    <div id="usrprofile">
        <div id="usrinfo">User Name <br>Role</div>
        <div id="usricon"></div>
    </div>
</div>

<div id="body">
    <div id="ex-trip">
        <div id="illustration"></div>
        <div id="name">Tanzania</div>
        <div id="group">
            <div id="usr0" class="usr"></div>
            <div id="usr1" class="usr"></div>
            <div id="usr2" class="usr"></div>
            <div id="usr3" class="usr"></div>
            <div id="usr4" class="usr"></div>
        </div>
    </div>
</div>

<div id="footer" align="center">
    <form id="form" action="/new-trip" method="post">
        <button id="new-trip-btn" type="submit">+</button>
    </form>
</div>