<link rel="stylesheet" href="css/login-style.css">

<div id="header" align="center">
    <div id="txt">Enter your personal informations</div>
    <%if(!start){%>
        <%if(fail){%>
            <div id="err-msg">
                Failed to connect...
                <form action="/sign-in" method="post">
                    <button type="submit">sign in</button>
                </form>
            </div>
        <%}%>
    <%}%>
</div>

<form id="form" action="/login" method="post">
        <div id="usr">
            <div id="usrtxt">Name- </div>
            <input id="usrfield" type="text" placeholder="user-name" name="username"/>
        </div>
        <div id="pwd">
            <div id="pwdtxt">Password- </div>
            <input id="pwdfield" type="text" placeholder="your password" name="password"/>
        </div>
        <button id="btn" type="submit">Login</button>
</form>