Please login to your account or create a new one
<script src=".js/login-view.js"></script>
<link rel="stylesheet" href="css/login-style.css">
<div id="container">
    <!-- shall contain couples of text input fields ig -->
    <a href="/logged" class="btn btn-secondary">Login</a>
</div>