<link rel="stylesheet" href="css/login-style.css">

<div id="header" align="center">
    <div id="txt">Enter your personal informations
    </div>
    <%if(!start){%>
        <%if(fail){%>
            <div id="err-msg">
                Failed to connect...
            </div>
        <%}%>
    <%}%>
</div>

<form id="login-form" action="/login" method="post">
    <div id="usr-txt">Name </div>
    <input id="usr-field" type="text" placeholder="user's name" name="username"/>
    <div id="pwd-txt">Password </div>
    <input id="pwd-field" type="password" placeholder="your password" name="password"/>
    <button id="show-hide" type="button" onclick="ShowHidePassword()">show</button>
    <button id="btn" type="submit">Login</button>
</form>

<form id="signin-form" action="/sign-in" method="post">
    <div id="signin-text">Not any account yet ?</div>
    <button type="submit">create one</button>
</form>

<script src="js/login.js"></script>