<link rel="stylesheet" href="css/login-style.css">

<div id="header" align="center">
    <div id="txt">Enter your personal informations
        <div id="popup">Faster please I dont have your time</div>
    </div>
    <%if(!start){%>
        <%if(fail){%>
            <div id="err-msg">
                Failed to connect...
            </div>
        <%}%>
    <%}%>
</div>

<form id="login-form" action="/login" method="post">
        <div id="usr">
            <div id="usrtxt">Name- </div>
            <input id="usrfield" type="text" placeholder="user-name" name="username"/>
        </div>
        <div id="pwd">
            <div id="pwdtxt">Password- </div>
            <input id="pwdfield" type="password" placeholder="your password" name="password"/>
            <button id="show-hide" type="button" onclick="ShowHidePassword()">show</button>
        </div>
        <button id="btn" type="submit">Login</button>
</form>
<form id="signin-form" action="/sign-in" method="post">
    <div id="signin-text">Not any account yet ?</div>
    <button type="submit">create one</button>
</form>

<script src="js/login.js"></script>