<link rel="stylesheet" href="css/navbar.css">

<div id="nav-body">
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ExpenShare</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <form action="/logged" method="post">
              <button type="submit" class="nav-link" style="border: none; background: none; cursor: pointer;">Home</button>
            </form>
          </li>
          <li class="nav-item">
            <form action="/friends" method="post">
              <button type="submit" class="nav-link" style="border: none; background: none; cursor: pointer;">Trip Friends</button>
            </form>
          </li> 
          <li class="nav-item">
            <form action="/add-expense" method="post">
              <button type="submit" class="nav-link" style="border: none; background: none; cursor: pointer;">Add an Expense</button>
            </form>
          </li>
          <li class="nav-item">
            <% if (role == false){%>
              <form action="/debt-everyone" method="post">
                <button type="submit" class="nav-link" style="border: none; background: none; cursor: pointer;">Balance</button>
              </form>
            <%} else{%>
              <form action="/debt-admin" method="get">
                <button type="submit" class="nav-link" style="border: none; background: none; cursor: pointer;">Balance</button>
              </form>
            <%}%>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>