<script src=".js/new-trip.js"></script>
<link rel="stylesheet" href="css/new-trip-style.css">

<div id="header">
    <form id="back-form" action="/login" method="post">
        <button id="back-btn" type="submit"><</button>
    </form>
    <div id="title">New Travel</div>
</div>

<div id="body">
    <div id="travel-label" class="label">Travel -</div>
    <div id="travel-field">
        <!--Here must add an icon & text field-->
    </div>
    <div id="dates-label" class="label">Dates -</div>
    <div id="dates-field">
        <!--Here must add a calendar-->
    </div>
    <div id="group-label" class="label">Group Members -</div>
    <div id="group-field" class="field">
        <!--Here must add the user's icon & an 'add' button-->
        <!--Also we wanna initiate a small window when add is hit
            in order to select users to add-->
    </div>
    <div id="category-label" class="label">Categories -</div>
    <div id="category-field" class="field">
        <!--Here must add the categories's icon & an 'add' button-->
        <!--Also we wanna initiate a small window when add is hit
            in order to select category to add-->
    </div>
    <div id="maxbudget-label" class="label">Maximum Budget -</div>
    <div id="budget-field" class="field">
        <!--Here just wanna add a slider-->
    </div>
    <div id="icon-label" class="label">Group Picture -</div>
    <div id="icon-field">
        <!--And here just wanna add a import photo fiel-->
    </div>
</div>

<div id="footer">
    <div id="comment-field">
        <!--There we want to add a text field that could
            contain enough for a comment-->
    </div>
    <div id="">
        <!--Here we only wanna add an 'add' button to validate the informations
            Also this shou;d trigger a view change-->
    </div>
</div>