<link rel="stylesheet" href="css/new-trip-style.css">

<div id="header">
    <form id="back-form" action="/logged" method="post">
        <button id="back-btn" type="submit"><</button>
    </form>
    <div id="title">New Travel</div>
</div>
<form id="form" action="/validate-trip" method="post">
    <div id="body">
        <div id="travel-label" class="label">Travel -</div>
        <div id="travel-field">
            <!--Here must add an icon & text field-->
            <div id="travel-icon"></div>
            <input id="travel-input" type="text" placeholder="travel name" name="name">
        </div>

        <div id="dates-label" class="label">Dates -</div>
        <div id="dates-field">
            <!--Here must add two calendars-->
            <label id="start-txt">Start: </label>
            <input type="date" id="travel-start-date" name="start">
            <label id="end-txt">End: </label>
            <input type="date" id="travel-end-date" name="end">
        </div>

        <div id="group-label" class="label">Group Members -</div>
        <div id="group-field" class="field">
            <!--Here must add the user's icon & an 'add' button-->
            <!--Also we wanna initiate a small window when add is hit
                in order to select users to add-->
            <div id="added-users">
            </div>
            <div class="separator"></div>
            <div id="available-users">
                <%for(var i=0; i<all_users.length; i++){%>
                <div class="notadded-usr" value="<%=all_users[i][0]%>">
                    <img class="user-icon" src="media/<%=all_users[i][2]%>">
                </div>
                <%}%>
            </div>
        </div>

        <div id="category-label" class="label">Categories -</div>
        <div id="category-field" class="field">
            <!--Here must add the categories's icon & an 'add' button-->
            <!--Also we wanna initiate a small window when add is hit
                in order to select category to add-->
            <div id="added-categories">
            </div>
            <div class="separator"></div>
            <div id="available-categories">
                <%for(var i=0; i<all_categories.length; i++){%>
                <div class="notadded-cat" value="<%=all_categories[i][0]%>">
                    <img class="cat-icon" src="media/<%=all_categories[i][1]%>">
                </div>
                <%}%>
            </div>
        </div>

        <div id="maxbudget-label" class="label">Maximum Budget -</div>
        <div id="budget-field" class="field">
            <!--Here just wanna add a slider-->
            <input type="range" id="budget-slider" min="0" max="1000" value="0" oninput="this.nextElementSibling.value = this.value"/>
            <output id="budget-value" name="budget">0</output>
        </div>

        <div id="icon-label" class="label">Group Picture -</div>
        <div id="icon-field">
            <!--And here just wanna add a import photo fiel-->
            <input type="file" id="group-img-chooser" accept="image/png, image/jpeg" name="image"/>
            <img src="">
        </div>
    </div>

    <div id="footer">
        <div id="comment-field" class="field">
            <!--There we want to add a text field that could
                contain enough for a comment-->
            <textarea id="comment-text" placeholder="add a comment about this trip" name="comment"></textarea>
        </div>
        <!--Here we only wanna add an 'add' button to validate the informations
            Also this shou;d trigger a view change-->
        <button type="submit" id="validate-btn" class="btn default">Add</button>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="js/new-trip.js"></script>