<link rel="stylesheet" href="css/sign-in-style.css">

<div id="header" align="center">
    <div id="txt">Enter your personal informations</div>

</div>
<div id="container">
    <div id="usr">
        <div id="usrtxt" class="txt">Enter an Username - </div>
        <input id="usrfield" class="field" type="text" placeholder="user-name" name="username"/>
    </div>
    <div id="pwd">
        <div id="pwdtxt" class="txt">Choose a Password - </div>
        <input id="pwdfield" class="field" type="text" placeholder="password" name="password"/>
    </div>
    <div id="icons">
        <%for(var i=0; i<icons.length; i++){%>
            <div class="usr-icon" value="<%=icons[i]%>">
                <img class="usr-img" src="media/<%=icons[i]%>">
            </div>
        <%}%>
    </div>
    <button id="btn" type="button">Validate</button>
</div>

<form id="down-form" action="/log">
    <div id="login-text">Already having an account ?</div>
    <button type="submit" value="out">connect</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="js/sign-in.js"></script>