<link rel="stylesheet" href="css/sign-in-style.css">

<div id="header" align="center">
    <div id="txt">Enter your personal informations</div>

</div>
<form id="form" action="/log" method="post">
    <div id="usr">
        <div id="usrtxt" class="txt">Enter an Username - </div>
        <input id="usrfield" class="field" type="text" placeholder="user-name" name="username"/>
    </div>
    <div id="pwd">
        <div id="pwdtxt" class="txt">Choose a Password - </div>
        <input id="pwdfield" class="field" type="text" placeholder="password" name="password"/>
    </div>
    <button id="btn" type="submit">Validate</button>
</form>