<link rel="stylesheet" href="css/travel-main.css">

<div id="header">
    <form id="back-form" action="/login" method="post">
        <button id="back-btn" type="submit"><</button>
    </form>
    <div id="title">Tanzania</div>
</div>

<div id="body">
    <div id="chart-label">Overview -</div>
    <div id="chart-field">

    </div>
</div>

<div id="footer">

</div>