<link rel="stylesheet" href="css/travel-main.css">
<link rel="stylesheet" href="css/trip-bar.css">

<%- include("navbar.ejs") %>
<div class="trip-name" data-expenses="<%= JSON.stringify(trip_expenses) %>" style="background-color: <%=color_trip%>;">
    <form id="back-form" action="/logged" method="post">
        <button id="back-btn" type="submit"><</button>
    </form>
    <div id="title"> <%= trip_name %></div>
</div>
<div id="body">
    <div id="overview-label" class="label">Overview -</div>
    <div id="chart-field">
        <canvas id="myChart" aria-label="chart" role="img"></canvas>
    </div>
    <form action="/add-expense" method="post">
        <button id="new-expense-btn" class="btn default" type="submit">Add Expense</button>
    </form>
    <div id="latest-label" class="label">Latest Expenses -</div>
    <div id="latest-field">
        <div id="expense">
            <div id="category-icon"></div>
            <div id="amount">37.95 $</div>
            <div id="expense-user-icon"></div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<script src="js/travel-main.js"></script>