<div class="trip-name">
    <form id="back-form" action="/specific-travel" method="post">
        <button id="back-btn" type="submit"><</button>
    </form>
    <div id="title"><%=trip_name%></div>
</div>