<link rel="stylesheet" href="css/valid-trip.css">
<div id="body">
    <!--Here we only wanna display the big 'YOU ADDED A TRIP' screen -->
    <img id="validate-icon" src="./media/valid-icon.png">
    <div id="msg">
        Your trip was<br>
        successfully<br>
        added!
    </div>

    <!--And we would also display the 'back to home page' menu -->
    <form id="form" action="/logged" method="post">
        <button type="submit" id="home-page-btn" class="btn default">Go Back To Home Page</button>
    </form>
</div>