<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>ExpenShare</title>
</head>

<body>
    <div id="container">
        <main>
            <%- body %>
        </main>
    </div>
</body>

</html>