<!DOCTYPE html>
<html lang="en" style="background-color:#F1F2F6;">

<head>
    <link rel="stylesheet" href="css/layout-style.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>ExpenShare</title>
</head>

<body>
    <div id="container">
        <main>
            <%- body %>
        </main>
    </div>
</body>

</html>