<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./css/main.css">
    <title>ExpenShare</title>
</head>
<body>
    <div id="container">
        <div id="header">
            <!--
            Here we might set a function to enable the header depending
            depending on the current view
            -->
        </div>
        <div id="content">
            <!--
            Setting this part as we set up the week3-base code ? dunno if that applies here tho
            -->
            <%- body %> <!-- then this will be replaced by wanted view from app.js -->
        </div>
    </div>
</body>
</html>